$fontFamily: 'Hind', sans-serif;
$ffamilyHeadings: 'Source Sans Pro', sans-serif;
$bodyBg: white;
$headerHeating: #353b47;
$headerDesc: #2b2b2b;
$LogoText:#2b2b2b;
$marksColor: rgb(27, 171, 211);
$bgHeader: url(../img/m-h-day.jpg);
$btnColors: rgb(105, 153, 0);
$mainBg : white;
$cardText: #d3d7df;
$cardBg: #21232e;
$sectionTextColor:#353b47;
$bannerBg : linear-gradient(to right, rgb(98, 146, 23), rgb(48, 94, 203));
$bannerTitle: #2e323b;
$footerColor: #21232e;
$footerText: #d3d7df;
