$fontFamily: 'Fresca', sans-serif;
$ffamilyHeadings: 'Source Sans Pro', sans-serif;
$bodyBg: #21232e;
$headerHeating: white;
$headerDesc: white;
$LogoText:white;
$marksColor: rgb(255, 78, 51);
$bgHeader: url(../img/m-h-night.jpg);
$btnColors: rgb(227, 172, 0);
$mainBg : rgb(33, 35, 46);
$cardText: rgb(132, 128, 136);
$cardBg: rgb(59, 63, 80);
$sectionTextColor: white;
$bannerBg : linear-gradient(to right, rgb(214, 152, 12), rgb(155, 59, 72));
$bannerTitle: white;
$footerColor: rgb(59, 63, 80);
$footerText: rgb(135, 141, 153);


